{% extends "base.html" %}

{% block title %}关于我{% endblock %}

{% block content %}
    <article class="excerpt box-shadow">
<header>
    <h2 style="text-align: center;">
        <span style="font-size: 36px;">Hey.</span>
    </h2>
</header>
<p style="color: rgb(0, 0, 0); text-align: center;">
    <span style="font-size: 20px;">我是 <strong>Alan</strong></span>
</p>
<p style="color: rgb(0, 0, 0); text-align: center;">
    <span style="font-size: 20px;">Welcome to my Blog.</span>
</p>
<p style="text-align: center;">
    <span style="font-size: 20px;">我正在努力学习中,以弥补过去浪费掉时间,希望我能掌握越来越多的技术。</span>
</p>
<p style="text-align: center;">
    <span style="font-size: 20px;">种一棵树最好的时间是十年前,其次是现在。</span>
</p>
<p>
    <br/><span style="font-size: 20px;"></span>
</p>
<p>
    <span style="font-size: 20px;"><br/></span>
</p>
<p>
    <br/>
</p>
<section id="contact" class="main style3 secondary">
    <p>
        <br/>
    </p>
    <header>
        <h2 style="text-align: center;">
            Say Hello to me.
        </h2>
        <p style="text-align: center;">
            <br/>
        </p>
        <p>
            <br/>
        </p>
        <p style="text-align: center;">
            联系我
        </p>
    </header>
    <p>
        <br/>
    </p>
    <p style="text-align: center;">
        <span style="font-size: 20px;">邮箱：fualan@foxmail.com</span>
    </p>
    <p style="text-align: center;">
        <span style="font-size: 20px;">Github：@ScarecrowFu</span>
    </p>
</section>
<p>
    <br/>
</p>
<p>
    <br/>
</p>
<p style="text-align: center;">
    <img alt="201507211915117350.jpg" src="http://7xpt71.com1.z0.glb.clouddn.com/blog%2Fimages%2F201507211915117350.jpg" title=""/>
</p>
    </article>
{% endblock %}